/* customize the initial loading animation */
._dash-loading {
    color: transparent;
    position: fixed;
    width: <width>;
    height: <height>;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-image: url('/assets/<your image path>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

._dash-loading::after {
    content: '';
}